@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


// Primary text colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

// Background gradient
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// Neutral text colors
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

// Dividers
$light-grayish-blue: hsl(240, 5%, 91%);



/*==========
DEFAULTS
=========*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient($soft-violet, $soft-blue);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    // Extra padding for top of mobile illustration
    // that sticks out
    padding-top: 10em;
}




/*==========
COMPONENTS
=========*/

.faq-section {
    position: relative;
    padding: 1.5em 0;
    border-bottom: 1px solid $light-grayish-blue;
    color: $dark-grayish-blue;

    &__arrow {
        position: absolute;
        top: 5px;
        right: 0;
        cursor: pointer;
        transition: transform 0.6s;
    }

    &__question {
        position: relative;
        font-weight: 400;
        font-size: 0.9rem;
        color: $very-dark-desaturated-blue;
        &:hover {
            font-weight: 700;
            color: $soft-red;
            cursor: pointer;
        }
    }
    &__answer {
        display: none;
        line-height: 1.3rem;
        width: 95%;
    }
}
.faq-section.faq-section--open {

    .faq-section__arrow {
        transform: rotate(180deg);
    }
    .faq-section__question {
        font-weight: 700;
    }

    .faq-section__answer {
        display: block;
        margin-top: 1em;
    }

}



/*==========
LAYOUT
=========*/

.container {
    background-color: #fff;
    border-radius: 25px;
    width: 80%;

    display: flex;
    flex-direction: column;

    position: relative;
    .illustration-box {
        display: none;
        position: absolute;
        z-index: 3;
        // width: 165px;
        // height: 184px;
        top: 50%;
        margin-top: -40px;
        left: -93px;
    }

    header {
        background: url(../images/bg-pattern-mobile.svg) no-repeat;
        background-position: top center;
        position: relative;
        height: 115px;

       picture {
            display: block;
            position: absolute;
            width: 266px;
            height: 196px;
            top: -107px;
            left: 50%;
            margin-left: -147px;
        }
    }

    main {
        padding: 2.5em;

        h1 {
            text-align: center;
            margin-bottom: 0.7em;
        }
    }
}



/*==========
DESKTOP
=========*/

@media only screen and (min-width: 1100px) {

    body {
        // Reset mobile padding
        padding: 3em 0;
    }

    .container {
        max-width: 950px;
        flex-direction: row;
        column-gap: 2em;

        background: url(../images/bg-pattern-desktop.svg) #fff no-repeat;
        background-size: cover;
        background-position: -550px -275px;


        .illustration-box {
            display: block;
        }

        header {
            flex: 1.2;

            // Remove mobile background
            background: none;

            width: 100%;
            height: auto;
            overflow: hidden;
            picture {
                top: 77px;
                left: 70px;
                // width: 300px;
            }
        }

        main {
            flex: 1;
            padding: 6em 8em 6em 0;

            h1 {
                text-align: left;
                font-size: 2rem;
            }
        }
    }

}