@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*==========
DEFAULTS
=========*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10em;
}

/*==========
COMPONENTS
=========*/
.faq-section {
  position: relative;
  padding: 1.5em 0;
  border-bottom: 1px solid #e7e7e9;
  color: #787887;
}

.faq-section__arrow {
  position: absolute;
  top: 5px;
  right: 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.faq-section__question {
  position: relative;
  font-weight: 400;
  font-size: 0.9rem;
  color: #1d1e35;
}

.faq-section__question:hover {
  font-weight: 700;
  color: #f47c57;
  cursor: pointer;
}

.faq-section__answer {
  display: none;
  line-height: 1.3rem;
  width: 95%;
}

.faq-section.faq-section--open .faq-section__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq-section.faq-section--open .faq-section__question {
  font-weight: 700;
}

.faq-section.faq-section--open .faq-section__answer {
  display: block;
  margin-top: 1em;
}

/*==========
LAYOUT
=========*/
.container {
  background-color: #fff;
  border-radius: 25px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .illustration-box {
  display: none;
  position: absolute;
  z-index: 3;
  top: 50%;
  margin-top: -40px;
  left: -93px;
}

.container header {
  background: url(../images/bg-pattern-mobile.svg) no-repeat;
  background-position: top center;
  position: relative;
  height: 115px;
}

.container header picture {
  display: block;
  position: absolute;
  width: 266px;
  height: 196px;
  top: -107px;
  left: 50%;
  margin-left: -147px;
}

.container main {
  padding: 2.5em;
}

.container main h1 {
  text-align: center;
  margin-bottom: 0.7em;
}

/*==========
DESKTOP
=========*/
@media only screen and (min-width: 1100px) {
  body {
    padding: 3em 0;
  }
  .container {
    max-width: 950px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 2em;
            column-gap: 2em;
    background: url(../images/bg-pattern-desktop.svg) #fff no-repeat;
    background-size: cover;
    background-position: -550px -275px;
  }
  .container .illustration-box {
    display: block;
  }
  .container header {
    -webkit-box-flex: 1.2;
        -ms-flex: 1.2;
            flex: 1.2;
    background: none;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .container header picture {
    top: 77px;
    left: 70px;
  }
  .container main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 6em 8em 6em 0;
  }
  .container main h1 {
    text-align: left;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */